html {
    background-color: #434343;
    font-family: 'Roboto';
}

#modebutton {
    background-color: #ffc425;
    height: 60px;
    width: 60px;
    border: none;
    z-index: 1;
    margin-right: 25px;
    position: absolute;
}

#redButton {
    background-color: red;
    height: 60px;
    width: 60px;
    border: none;
    z-index: 1;
    position: absolute;
    top: 8;
    left: 80;
}

#whiteButton {
    background-color: white;
    height: 60px;
    width: 60px;
    border: none;
    z-index: 1;
    position: absolute;
    top: 8;
    left: 150;
}

#container {
    position: relative;
}

canvas {
    position: absolute;
    border:3px solid #ffc425;
    background-color: #434343;
}

#OMPCanvas {
    z-index: 0;
}