html {
    background-color: #434343;
    font-family: 'Roboto';
}

button {
    background-color: #ffc425;
    height: 60px;
    width: 60px;
    border: none;
    z-index: 1;
    position: absolute;
}

#container {
    position: relative;
}

canvas {
    position: absolute;
    border:3px solid #ffc425;
    background-color: #434343;
}

#OMPCanvas {
    z-index: 0;
}